
body {background-color:#f8f8f8;}








.container {}

body {color:#424241;font-family:HelveticaNeueW01-LtExt, Helvetica43-ExtendedLight, arial}

.logo {}
.navbar .navbar-inner{border:0px;background-color:transparent;box-shadow:none;background-image:none;}
.navbar .nav li a {text-transform:uppercase;padding:25px 25px 15px;font-family:Helvetica43-ExtendedLight, arial}

.navbar .brand {padding:0px 5px 4px;}

h1,h2,h3,h4,h5,h6{font-family:helvetica neue;font-weight:500;}
h1.heading {text-transform:uppercase;font-size:37px;line-height:40px;margin-bottom:20px;letter-spacing:1px;}

.hero-unit {padding:60px 0px;background-color:transparent;}
.callout{width:400px;}
.callout p{font-size:16px;line-height:24px;letter-spacing:1px;}

.emph{font-family:georgia; font-size:14px;font-style:italic;color:#777;}

.highlight-boxes{padding:30px;background-color:#F0F0F0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.heading-emph {font-size:19.58px;color:#5AAEE1;}

footer{background-color:#525251;border-top:4px solid #5BAEE2;}

.feature-image-box {border-right:1px solid #ccc;}
.feature-image-box .caption{margin-bottom:35px;}
.feature-image-box img {display: block;max-width: 100%;margin-right: auto;margin-left: auto;}
			
/* Large desktop */
@media (min-width: 1200px) { 

}

/* Large desktop */
@media (min-width: 980px) and (max-width: 1200px) { 
	.navbar .nav li a {padding:25px 15px 15px;}
	.navbar .navbar-inner{padding-right:0px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.navbar .navbar-inner{padding:0px 0px 0px 0px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	/* for some reason bootstrap think it sensible to add padding to the body at this point. */
	body {padding:0px;}
	.navbar .navbar-inner{padding:0px 0px 0px 0px;}
	.container {padding:0px 20px}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	/* for some reason bootstrap think it sensible to add padding to the body at this point. */
	body {background-color:#f99;padding:0px;}
	.navbar .navbar-inner{padding:0px 0px 0px 0px;}
	.container {padding:0px 20px}
}



